body {
  background-image: url(https://i.pinimg.com/originals/72/a1/84/72a184aa7846cad0d5a82cf55dc3f406.jpg);
  height: 100%;
  width: 100%;
  margin: 0;
  /* text-align: center; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font: arial;
  color: rgb(77, 58, 58);
  text-decoration: underline;
  text-decoration-color: #94958b;
}
a{
	color: black;
	text-decoration: none;
}
a:hover {
	color: aqua;
}
ol{
	line-height: 40px;
}
p {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}
nav {
  padding: 30px 0 10px 0;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: rgb(77, 58, 58);
  margin: 0px 90px 0px 90px;
}
nav a:hover {
  color: rgb(0, 0, 0);
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
}
h1 {
  text-align: center;
}

form {
  text-align: center;
  height: 100%;
}
form input[type="text"] {
  width: 250px;
  height: 30px;
  margin: 8px;
}
textarea {
  margin: 20px 0 0 8px;
  /* position: relative; */
  /* right: 5px; */
}
button {
  width: 10%;
}
.first-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.c1 {
  background-color: #94958b;
  border-radius: 20px;
  opacity: 0.7;
  width: 300px;
  height: 300px;
  padding: 30px;
  margin: 30px;
  text-align: center;
}
.picture {
  width: 25%;
}
.container {
  display: inline;
  padding: 30px;
}
.pic {
  text-align: center;
}
.c2 {
  text-align: center;
}
.rev {
  position: relative;
  bottom: 40px;
}
.gender {
  position: relative;
  right: 80px;
  margin: 15px;
}
.bottom-container {
  padding: 30px;
  margin-top: 20px;
  background-color: #94958b;
}
.copy-right {
  color: rgb(246, 247, 247);
  font-size: 1.2rem;
  padding: 20px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
